.container {
  border: 1px solid #000000;
  border-radius: 12px;
  width: 1050px;
  height: 600px;
}

.container div#rightDiv {
  float: right;
  width: 20%;
  height: 498px;
  text-align: center;
}

.container div#leftDiv {
  float: left;
  width: 20%;
  height: 498px;
}

.container div#centralDiv {
  border-right: black solid 1px;
  border-left: black solid 1px;
  width: calc(60% - 2px);
  height: 498px;
  float: left;
}

/*background-color: #3d3d3d;*/
