.inputBubble {
  margin-top: 10px;
  margin-bottom: -10px;
}

.inputBubble div#inputBubble {
  display: inline-flex;
  border: black solid 1px;
  border-radius: 15px;
  padding-right: 50px;
  padding: 5px;
}

.inputBubble div#emojiPicker {
  width: 400px;
  display: inline-flex;
  font-family: "Quicksand";
}

.inputBubble input {
  font-family: "Quicksand";
  font-size: 15px;
  text-align: left;
  font-weight: 600;
  border: none;
  width: 400px;
  padding: 10px;
}

.inputBubble input::placeholder {
  color: black;
}

.inputBubble img {
  width: 23px;
}

.inputBubble button {
  border: none;
  background: none;
}

.inputBubble input:disabled::placeholder {
  color: #424242;
}
