.signIn {
  background: rgba(46, 46, 46, 0.15);
  border: 1px solid #000000;
  border-radius: 12px;
  font-family: "Quicksand";
  color: #000000;
  padding: 10px;
  
}

.signIn img {
  padding-right: 10px;
  width: 32px;
}

.signIn span {
  display: inline;
  font-family: "Lobster";
  font-size: 25px;
  line-height: 45px;
  padding-left: 3px;
  background: linear-gradient(to right, #355b7dd2, #6c5b7b, #c06c84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signIn div#logoArea {
  padding: 20px;
}

.signIn h1 {
  color: #2e2e2e;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  font-variant: small-caps;
}

.signIn input {
  background: #ffffff;
  border: 1px solid rgb(85, 85, 85);
  box-sizing: border-box;
  border-radius: 13px;
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 0%;
  width: 300px;
  padding: 10px 30px 10px 15px;
  color: #2e2e2e;
  font-weight: 600;
  font-family: "Quicksand";
}

.signIn input:placeholder-shown {
  font-family: "Quicksand";
  font-weight: 600;
}

.signIn a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: bold;
}

.signIn div#button {
  padding: 20px;
  margin-top: 20px;
  margin-right: 15px;
}
