body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {    
  background: url('resources/images/background.jpg') no-repeat center fixed;    
  background-size: cover;
}

@font-face {
  font-family: "Lobster";
  src: local("Lobster"),
    url("./resources/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url("./resources/fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
      format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
