.leftDiv {
  height: 100%;

}

.leftDiv ul {
  list-style-type: none;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 25px;
  padding-left: 10px;
}

.leftDiv div#listDiv {
  height: 85%;
}

.leftDiv div#buttonDiv {
  height: 15%;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: black solid 1px;
}
