/*.header table {
  font-family: "Quicksand";
  color: black;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.header th:nth-child(2) {
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  text-align: left;
  font-weight: 100;
  width: 60%;
  padding-left: 20px;
}


.header div#cell {
  padding-bottom: 15px;
}

.header img {
  width: 32px;
}

.header div#logoArea {
  text-align: left;
  padding-left: 10px;
  margin-top: 4px;
  border-bottom: black solid 1px;
}

.header span#gradientText {
  display: inline;
  font-family: "Lobster";
  font-size: 25px;
  line-height: 45px;
  padding-left: 12px;
  background: linear-gradient(to right, #355b7dd2, #6c5b7b, #c06c84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header h1 {
  color: #212121;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "Quicksand";
  font-size: 18px;
  text-transform: lowercase;
  margin-bottom: 0px;
}

.header p#contactName {
  font-weight: 100;
  font-size: 18px;
  margin-top: 20px;
  padding-left: 10px;
}

.header hr {
  border: 0;
  height: 1px;
  background: black;
}

.header img#profileImg {
  width: 58px;
  height: 58px;
}

.header div#chatRoomTitle {
  display: flex;
}
*/

.container {
  height: 100px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-bottom: black solid 1px;
}

.nested {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: "Quicksand";
  color: black;

}

.nested div#upper {
  border-bottom: black solid 1px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nested span#gradientText {
  font-family: "Lobster";
  font-size: 25px;
  line-height: 45px;
  padding-left: 12px;
  background: linear-gradient(to right, #355b7dd2, #6c5b7b, #c06c84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nested h1 {
  color: #212121;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "Quicksand";
  font-size: 18px;
  text-transform: lowercase;
  
}

.central {
  display: grid;
  grid-template-columns: 15% 85%;
  border-left: black solid 1px;
  border-right: black solid 1px;
  padding: 20px;

}

.central img#profileImg {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.central p#contactName {
  font-weight: 100;
  font-size: 18px;
  font-family: "Quicksand";
  text-align: left;
  color: black;
}
