.notification {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  flex-direction: column;
  align-items: flex-end;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr auto;
  grid-template-columns: fit-content(100%);
  padding: 0.1rem 1rem;
  margin: 1rem 0;
  background: hsla(0, 0%, 100%, 0.692);
  border-radius: 10px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
  border-left: 0.5rem solid #c3b0d5;
  animation: fadeOut 8s linear forwards;
}

.notification p {
  max-width: 320px;
  font-size: 0.8rem;
  grid-column: 1/-1;
}

.notification img {
  width: 21px;
  padding-right: 5px;
}


@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  99% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
  }
}
