.chatArea {
  height: 100%;
}

.chatArea footer {
  width: 100%;
  border-top: black solid 1px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.chatArea div#messagingArea {
  height: 85%;
  overflow-y: auto;
}

