.nav {
  margin-top: 0px;
  padding: 20px;
}

.nav button {
  color: #212121;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "Quicksand";
  font-size: 18px;
  text-transform: lowercase;
  border: black solid 1.5px;
  padding: 5px 10px 5px 10px;
}

.nav button:hover {
  background-color: white;
}

.nav div#notification {
  color: rgb(34, 34, 34);  
  font-family: "Quicksand";

}
