.messageBubble {
  display: flex;
  text-align: center;
  padding: 5px 10px 10px 0px;
}

.messageBubble div#bubble {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 30px;
  font-family: "Quicksand";
  color: #000000;
  font-size: 14px;
  padding: 0px 12px 0px 13px;
}

.messageBubble p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.messageBubble span {
  font-weight: 300;
  font-size: 16px;
  color: #3d3d3d;;
  display: inline-block;
  margin: 5px 10px 0 0;
  padding-left: 10px;

}
