.chatMembersTable {
  padding-top: 25px;
}

.chatMembersTable table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.chatMembersTable td {
  text-align: left;
  padding: 8px 40px 8px 10px;
  font-weight: 400;
  font-size: 14px;
  color: black;
  letter-spacing: 0.1em;
  border: 1px solid black;
}

.chatMembersTable tr {
  border: 1px solid black;
}
