.chatRoom div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3a393993;
  background-size: cover;
  background-position: center;
  color: transparent;
}

.chatRoom {
  padding: 8px;
  display: flex;
  align-items:center;
}

.chatRoom p:hover {
  font-weight: bold;
}

.chatRoom p {
  text-align: left;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Quicksand";

}

.chatRoom .active {
  font-weight: bold;
}

