.dialog {
  background: rgba(46, 46, 46, 0.15);
  border: 1px solid #000000;
  border-radius: 12px;
  font-family: "Quicksand";
  color: #000000;
  padding: 15px;
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 60px);
  left: calc(50% - 100px);
}

.dialog button {
  color: #212121;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "Quicksand";
  font-size: 16px;
  text-transform: lowercase;
  border: black solid 1.5px;
  padding: 5px 10px 5px 10px;
  margin-top: 15px;
}

.dialog input {
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid rgb(85, 85, 85);
  box-sizing: border-box;
  border-radius: 13px;
  display: block;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
  width: 180px;
  padding: 10px 30px 10px 15px;
  color: #2e2e2e;
  font-weight: 600;
  font-family: "Quicksand";
}

.dialog span {
  float: right;
  padding: 0px 0px 5px 15px;
}

.dialog p {
  font-size: 14px;
  color: red;
}


