.container {
  padding-top: 20px;
}

.container div#image {
  border-radius: 50%;
  border: #4d4c4c solid 1px;
  background-color: #3a393993;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: transparent;
  transition: all 0.3s ease;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div#image:hover {
  color: rgba(250, 250, 250, 1);
  transition: all 0.3s ease;
  padding: 0.1em;
  color: #4b4b4b;
  font-size: 14px;
}

.container img {
  border-radius: 50%;
  padding: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.container p {
  z-index: 10000000;
  position: absolute;
}
