.button {
  padding: 10px;
  background: linear-gradient(to right, #afdad2, #b4d2db, #7bb9ec);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 18px;
  font-family: "Quicksand";
}

.button img {
  width: 19px;
}

