.error {
  padding: 1px 20px 1px 20px;
  justify-content: center;
}

.error p {
  color: rgb(22, 22, 22);
  text-transform: lowercase;
  animation: bounce 1.3s ease-in-out infinite;
}

.error img {
  animation: fall 1.5s ease-in-out infinite;
}

@keyframes fall {
  0% {
    transform: translate(0, 0);
    opacity: 80%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    transform: translate(-10px, 10px);
    opacity: 0%;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

@keyframes notify {
  0% {
    transform: scaleX(0);
  }
  10% {
    transform: scaleX(1);
  }
  13% {
    transform: scale(1.1);
  }
  16% {
    transform: scale(1);
  }
  55% {
    transform: scaleX(1);
    border-radius: 0%;
  }
  65% {
    transform: scaleX(0.25);
    border-radius: 50%;
  }
  95% {
    transform: scaleX(0.25);
    border-radius: 50%;
  }
  100% {
    transform: scaleX(0);
  }
}
